@import url('../../css/style.css');

body, html {
    height: 100%;
    margin: 0;
}

.page-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    min-height: 100vh;
}

.login {
	align-items: center;
	display: flex;
	flex-direction: column;
	gap: 1.7rem;
	justify-content: center;
    padding-top: 4rem;
}

.login_title {
    font-size: 2rem;
    font-weight: 700;
    margin-top: 1.5rem;
    text-shadow: 1px 1px 2px var(--color-fourth);
}

.login_form {
	align-items: center;
    background-color: rgba(105, 117, 101, 0.5);
    border-radius: 1rem;
	display: flex;
	flex-direction: column;
	
}

.login_form_input {
    background-color: var(--color-primary) !important;
    border: none;
    border-radius: 0.5rem;
    color: var(--color-fifth) !important;
    font-family: "Capriola", serif;
    font-size: 1rem;
    height: 2.3rem;
    margin: 1.2rem 1.5rem;
    outline: none;
    width: 24rem;
}

.login_form_input::placeholder {
    color: #A2A2A2;
    font-style: normal;
    font-weight: 400;
}

.mensaje-error {
    display: none;
}

.login_form_button {
    background-color: var(--color-tertiary);
    border: none;
    border-radius: 0.5rem;
    color: var(--color-primary);
    cursor: pointer;
    font-family: "Capriola", serif;
    font-size: 1.1rem;
    margin: 1.2rem;
    padding: 0.5rem 0.1rem;
    text-decoration: none;
    transition: all 1s;
	width: 275px;
}

.login_form_button:hover {
    background-color: var(--color-fourth);
    box-shadow: 2px 2px 18px var(--color-tertiary);
}

footer-component {
    margin-top: auto;
}


/* Media queries para dispositivos medianos y pequeños */
@media (max-width: 768px) {
    .login_form {
        width: 90%; /* Ajustar el ancho del formulario en dispositivos medianos */
        padding: 1rem;
    }

    .login_form_input {
        width: 100%; /* Ajustar el ancho de los inputs en dispositivos medianos */
        margin: 0.8rem 0; /* Ajustar los márgenes para dispositivos medianos */
    }

    .login_form_button {
        width: 100%; /* Ancho completo del botón en dispositivos medianos */
        padding: 0.8rem 0; /* Ajustar el padding del botón en dispositivos medianos */
    }
}

@media (max-width: 450px) {
    .login {
        padding-top: 2rem;
    }

    .login_title {
        font-size: 1.5rem; /* Ajustar el tamaño del título para dispositivos pequeños */
        margin-top: 1rem;
    }

    .login_form {
        padding: 0.5rem;
    }

    .login_form_input {
        font-size: 0.9rem; /* Ajustar el tamaño del texto de los inputs para dispositivos pequeños */
        height: 2rem; /* Ajustar la altura de los inputs para dispositivos pequeños */
        margin: 0.6rem 0;
    }

    .login_form_button {
        font-size: 1rem; /* Ajustar el tamaño del texto del botón para dispositivos pequeños */
        padding: 0.6rem 0; /* Ajustar el padding del botón para dispositivos pequeños */
    }
}