@import url('style.css');

body,
html {
    height: 100%;
    margin: 0;
}

footer-component {
    margin-top: auto;
}

.all_products_header {
    align-items: center;
    justify-content: center;
    padding-top: 5rem;
}

.all_products_title {
    font-size: clamp(1.5rem, 5vw, 2.2rem);
}

.page-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    min-height: 100vh;
}



/* Para pantallas pequeñas, apilamos los elementos */
@media (max-width: 479px) {
    .all_products_header {
        padding-top: 4rem;
    }
}


@media (min-width: 480px) and (max-width: 767px) {
    .all_products_header {
        padding-top: 5rem;
    }
}


@media (min-width: 768px) and (max-width: 1023px) {
    .all_products_header {
        padding-top: 6rem;
    }
}


@media (min-width: 1024px) and (max-width: 1279px) {
    .all_products_header {
        margin-bottom: 1.5rem;
        padding-top: 6rem;
    }
}