/* Importar variables desde style.css */
@import url('style.css');

.banner {
    align-items: center;
    background-image: url(../images/banner/banner-gs_controles.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100%;
    color: var(--color-primary);
    display: flex;
    font-weight: 700;
    justify-content: center;
    opacity: 0.925;
    padding-top: 34rem;
    position: relative;
}
.banner_section {
    margin: 0 auto;
    max-width: 1920px;
}
.banner_section, .titles, .prom {
    align-items: center;
    display: flex;
    text-shadow: 2px 2px 2px var(--color-tertiary);
}
.prom {
    color: var(--color-primary);
    font-size: 3.2rem;
    font-weight: 1000;
    justify-content: center;
    left: 32%;
    padding-top: 0.5rem;
    position: absolute;
    top: 45%;
    text-shadow: 0 0 0.5rem var(--color-tertiary);
    -webkit-text-stroke: 1px var(--color-primary);
}
.whatsapp-logo {
    filter: drop-shadow(0.2rem 0.3rem 0.4rem var(--color-fifth));
    height: auto;
    margin-right: 1.1rem;
    width: 3.5rem;
}



@media (max-width: 479px) {
    .banner {
        background-size: 150%;
        padding-top: 19rem;
    }
    .prom {
        font-size: 1.3rem;
        left: 50%;
        transform: translateX(-50%);
        -webkit-text-stroke: transparent;
    }
    .whatsapp-logo {
        margin-right: 0.5rem;
        width: 1.2rem;
    }
}


@media (min-width:480px) and (max-width:767px) {
    .banner {
        background-size: 125%;
        padding-top: 18rem;
    }
    .prom {
        font-size: 1.3rem;
        left: 50%;
        transform: translateX(-50%);
        -webkit-text-stroke: transparent;
    }
    .whatsapp-logo {
        margin-right: 0.8rem;
        width: 1.6rem;
    }
}


@media (min-width:768px) and (max-width:1023px) {
    .banner {
        padding-top: 21rem;
    }
    .prom {
        font-size: 1.7rem;
        left: 50%;
        transform: translateX(-50%);
        -webkit-text-stroke: transparent;
    }
    .whatsapp-logo {
        margin-right: 0.9rem;
        width: 2rem;
    }
}


@media (min-width:1024px) and (max-width:1279px) {
    .prom {
        font-size: 2.5rem;
        left: 50%;
        transform: translateX(-50%);
        -webkit-text-stroke: transparent;
    }
    .whatsapp-logo {
        width: 2.8rem;
    }
}


@media (min-width:1280px) {
    .prom {
        font-size: 3rem;
        left: 50%;
        transform: translateX(-50%);
        -webkit-text-stroke: transparent;
    }
    .whatsapp-logo {
        width: 3.2rem;
    }
}