:root {
    --color-primary: #F6F7D3;
    --color-secondary: #697565;
    --color-tertiary: #3C3D37;
    --color-fourth: #1E201E;
}

.banner {
	align-items: center;
    background-image: url(../images/banner/banner-gs_controles.png);
    background-position: center center;
	background-repeat: no-repeat;
	background-size: 100%;
	color: var(--color-primary);
	display: flex;
	font-weight: 700;
	justify-content: center;
    padding-top: 32rem;
    position: relative;
}

.banner_section {
    align-items: center;
    display: flex;
    margin: 0 auto;
    max-width: 1920px;
    text-shadow: 2px 2px 2px var(--color-secondary);
}

.titles {
    align-items: center;
    color:var(--color-primary);
    display: flex;
    font-size: 3rem;
    font-weight: 700;
}

.prom {
    align-items: center;
    color: var(--color-primary);
    display: flex;
    font-size: 3.35rem;
    font-weight: 1000;
    justify-content: center;
    left: 39%;
    position: absolute;
    top: 47.5%;
    text-shadow: 0.2rem 0.3rem 0.4rem var(--color-primary);
    -webkit-text-stroke: 1px var(--color-secondary);
}

.whatsapp-logo {
    filter: drop-shadow(0.2rem 0.3rem 0.4rem var(--color-primary));
    height: auto;
    margin-right: 1.1rem;
    width: 3.2rem;
}



@media (min-width:451px) and (max-width:768px) {

    .banner {
        height: 30%;
        width: 100%;
    }
    
    .banner_section {
        align-items: flex-start;
        display: flex;
        flex-flow: column nowrap;
        margin: 0;
        max-width: 1920px;
        width: 90%;
    }

}



@media (max-width: 450px) {

    .banner {
        height: 25%;
        width: 100%;
    }
    
    .banner_section {
        align-items: flex-start;
        display: flex;
        flex-flow: column nowrap;
        margin: 0;
        max-width: 1920px;
        width: 90%;
    }

}