:root {
    --color-primary: #ffffff;
    --color-secondary: #b7b9b4;
    --color-tertiary: #697565;
    --color-fourth: #3c3d37;
    --color-fifth: #1e201e;
    font-family: "Capriola", serif;
    line-height: 1rem;
    scroll-behavior: smooth;
}

h2 {
    align-items: center;
    display: flex;
    font-size: 2.5rem;
    font-variant: small-caps;
    font-weight: bold;
    justify-content: center;
    margin-bottom: 1rem;
    text-align: center;
    text-shadow: 1px 1px 2px var(--color-secondary);
}

input {
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}

.bi {
    font-size: 1.3rem;
    font-weight: bold;
    padding: 0.5rem;
}

.contact {
    background-image: url(../images/fondos/fondo-de-logo.jpg);
    background-position: center center;
    color: var(--color-primary);
    opacity: 85%;
    padding: 2.5rem 5rem;
    text-shadow: 1px 1px 2px var(--color-secondary);
}

.contact_content {
    align-items: center;
    display: flex;
    gap: 7rem;
    justify-content: center;
    margin: 0 auto;
    width: 80%;
}

.contact_form_area {
    display: flex;
    flex-direction: column;
}

.contact_form__button {
    background-color: var(--color-tertiary);
    border: none;
    border-radius: 0.5rem;
    color: var(--color-primary);
    cursor: pointer;
    font-weight: bold;
    margin-right: auto;
    padding: 1rem 2rem;
    transition: all 1s;
}

.contact_form__button:hover {
    background-color: var(--color-fourth);
    box-shadow: 2px 2px 18px var(--color-tertiary);
}

.contact_form_form,
.contact_form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    text-shadow: 1px 1px 2px var(--color-fourth);
}

.contact_form__input,
.menssage {
    background-color: #e0e0e0;
    border: none;
    border-bottom: 1px solid var(--color-fourth);
    font-family: "Capriola", serif;
    font-size: 0.9rem;
    font-weight: normal;
    outline: none;
    padding: 0.5rem;
    width: 35rem;
}

.contact_form__input:focus,
.menssage:focus,
.contact_form__input:valid,
.menssage:valid,
.contact_form__input:not,
.menssage:not {
    background-color: var(--color-secondary) !important;
    border-color: var(--color-fourth) !important;
}

.contact_form__label {
    background-color: var(--color-secondary);
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    font-size: 0.8rem;
    font-weight: 300;
    padding: 0.5rem 0.5rem 0 0.5rem;
}

.contact_form__title {
    font-weight: 700;
    text-shadow: 1px 1px 2px var(--color-secondary);
}

.contact_logo_img {
    display: flex;
    content: url(../images/logo-solo/logo-nombre.png);
    height: 45%;
    margin-bottom: 1rem;
    object-fit: cover;
    width: 55%;
}

.input-container-invalid {
    margin-bottom: 0.5rem;
}

.input-container-invalid .input-padron {
    border-bottom: 2px solid #df2525;
    border-radius: 7px;
    margin: 0 0 5px;
}

.input-container-invalid .input-label {
    color: #df2525;
}

.input-container-invalid .mensaje-error {
    color: #df2525;
    display: block;
}

.menssage {
    height: 4rem;
    resize: none;
}

.mensaje-error {
    display: none;
}

.menu {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    text-shadow: 1px 1px 2px var(--color-secondary);
}

.menu_item {
    font-size: 1.1rem;
    transition: all 1s;
}

.menu_item:hover {
    color: var(--color-primary);
    transform: scale(1.1);
}

.menu_link {
    color: var(--color-primary);
    text-decoration: none;
    transition: all 1s;
}

.menu_link:hover {
    color: var(--color-primary);
}

.modal-content {
    animation: fadeIn 0.3s ease-in-out;
    background: var(--color-primary);
    border-radius: 1rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
    color: var(--color-fourth);
    font-size: 2rem;
    max-width: 40rem;
    padding: 2rem;
    text-align: center;
    width: 90%;
}

.modal-message {
    align-items: center;
    background: rgba(0, 0, 0, 0.6);    /* fondo oscuro translúcido */
    display: none;    /* oculto por defecto */
    height: 100%;
    justify-content: center;    /* centrar contenido */
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2000;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.9);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

.send_message__button {
    color: var(--color-primary);
    text-decoration: none;
}



/* Media queries para dispositivos medianos y pequeños */
@media (max-width: 479px) {
    h2 {
        font-size: 1.4rem;
    }
    .contact {
        background-repeat: no-repeat;
        background-size: cover;
        padding: 1rem 0;
    }
    .contact_content {
        align-items: center;
        flex-direction: column;
        gap: 1.5rem;
        justify-content: center;
        width: 80%;
    }
    .contact_form__button {
        margin: 0;
        padding: 0.5rem 1rem;
    }
    .contact_form__input,
    .menssage {
        font-size: 0.8rem;
        width: 25rem;
    }
    .contact_form__title h6 {
        font-size: 1rem;
        font-weight: normal;
        text-align: center;
    }
    .contact_form_form,
    .contact_form {
        align-items: center;
        gap: 1rem;
        justify-content: center;
    }
    .contact_logo {
        align-content: center;
        display: flex;
        justify-content: center;
        margin: auto;
        width: 55%;
    }
    .contact_logo_img {
        width: 60%;
    }
    .input-container-invalid .mensaje-error {
        font-size: 0.8rem;
    }
    .map_iframe {
        display: none;
    }
    .menu {
        align-items: center;
        gap: 0.8rem;
        justify-content: center;
        text-align: center;
    }
    .menu_item {
        font-size: 0.8rem;
        line-height: 1.3rem;
        text-align: center;
    }
}

@media (min-width: 480px) and (max-width: 767px) {
    h2 {
        font-size: 1.5rem;
    }
    .contact {
        background-repeat: no-repeat;
        background-size: cover;
        padding: 1rem 0;
    }
    .contact_content {
        align-items: center;
        flex-direction: column;
        gap: 1.5rem;
        justify-content: center;
        margin: 0;
        width: 100%;
    }
    .contact_form__button {
        font-size: 1rem;
        margin: 0;
        padding: 0.5rem 1rem;
    }
    .contact_form__title h6 {
        font-size: 1.1rem;
        font-weight: normal;
    }
    .contact_form_form,
    .contact_form {
        align-items: center;
        gap: 1rem;
        justify-content: center;
    }
    .contact_logo {
        align-content: center;
        display: flex;
        justify-content: center;
        margin: auto;
    }
    .contact_logo_img {
        width: 30%;
    }
    .map_iframe {
        display: none;
    }
    .menu {
        align-items: center;
        gap: 1.3rem;
        justify-content: center;
        text-align: center;
    }
    .menu_item {
        font-size: 1.1rem;
        text-align: center;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .contact {
        align-items: center;
        background-repeat: no-repeat;
        background-size: cover;
        justify-content: center;
        padding: 2rem 0;
    }
    .contact_content {
        gap: 4rem;
        width: 95%;
    }
    .contact_form__button {
        font-size: 1rem;
        margin: 0;
    }
    .contact_form__input,
    .menssage {
        width: 25rem;
    }
    .contact_form__title h6 {
        font-size: 1.2rem;
        text-align: center;
    }
    .contact_form_form,
    .contact_form {
        align-items: center;
        justify-content: center;
    }
    .contact_logo {
        align-content: center;
        display: flex;
        justify-content: center;
        margin: auto;
    }
    .menu {
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .menu_item {
        font-size: 1rem;
        text-align: center;
    }
}

@media (min-width: 1024px) and (max-width: 1279px) {
    .contact_content {
        gap: 7rem;
        width: 90%;
    }
    .contact_form__button {
        margin: 0;
    }
    .contact_form__input,
    .menssage {
        width: 30rem;
    }
    .contact_form__title {
        text-shadow: none;
    }
    .contact_form__title h6 {
        font-size: 1.3rem;
        text-align: center;
    }
    .contact_form_form {
        align-items: center;
        justify-content: center;
    }
    .contact_logo_img {
        width: 40%;
    }
    .contact_menu {
        padding-left: 3rem;
    }
}

@media (min-width: 1280px) {
    .contact_content {
        gap: 9rem;
        width: 90%;
    }
    .contact_form__button {
        margin: 0;
    }
    .contact_form_form {
        align-items: center;
        justify-content: center;
    }
}