:root {
    --color-primary: #F6F7D3;
    --color-secondary: #697565;
    --color-tertiary: #3C3D37;
    --color-cuarto: #1E201E;
}

.banner {
	align-items: center;
    background-image: url(../images/en-construccion/control-remoto_en-construccion.png);
    background-position: left;
	background-repeat: no-repeat;
    background-size: 39%;
	color: var(--color-primary);
	display: grid;
	font-weight: 700;
    grid-template-columns: 40% 60%; /* Dos columnas iguales */
	justify-content: center;
    padding-top: 24rem;
}

.banner_section {
    align-items: center;
    display: flex;
    flex-direction: column;
    grid-column: 2; /* Ubica la sección en la segunda columna */
    height: 100%; /* Asegura que ocupe toda la altura de la sección */
    justify-content: center;
    text-shadow: 2px 2px 2px var(--color-secondary);
}

.titles {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-grow: 1; /* Permite que los títulos ocupen el espacio disponible */
    justify-content: space-around;
    margin-right: 2rem;
    text-align: left;
    translate: 0 -10rem;
}

.prom, .description {
    color: var(--color-cuarto);
    font-size: 3.35rem;
    font-weight: 1000;
    margin-bottom: 3rem;
    text-shadow: 0.2rem 0.3rem 0.4rem var(--color-tertiary);
    -webkit-text-stroke: 1px var(--color-secondary);
}

.see_button {
    align-self: flex-end;
    background-color: var(--color-secondary);
    border: solid var(--color-tertiary) 1px;
    border-radius: 50%;
    color: var(--color-primary);
    cursor: pointer;
    margin-right: 3rem;
    padding: 1rem 2.5rem;
    text-align: center;
    transition: all 1s;
    translate: 0 -10rem;
}

.see_button:hover {
    background-color: var(--color-primary);
    box-shadow: 0 0 10px var(--color-secondary);
    color: var(--color-cuarto);
}

/*.titles {
    align-items: center;
    color:var(--color-primary);
    display: flex;
    font-size: 3rem;
    font-weight: 700;
}

.prom {
    align-items: center;
    color: var(--color-cuarto);
    display: flex;
    font-size: 3.35rem;
    font-weight: 1000;
    justify-content: center;
    left: 45%;
    position: absolute;
    top: 30%;
    text-shadow: 0.2rem 0.3rem 0.4rem var(--color-tertiary);
    -webkit-text-stroke: 1px var(--color-secondary);
}

.description {
    align-items: center;
    color: var(--color-cuarto);
    display: flex;
    font-size: 3.35rem;
    font-weight: 1000;
    justify-content: center;
    left: 45%;
    position: absolute;
    top: 50%;
    text-shadow: 0.2rem 0.3rem 0.4rem var(--color-tertiary);
    -webkit-text-stroke: 1px var(--color-secondary);
}

.see_button {
    align-self: flex-end;
    background-color: var(--color-secondary);
    border: solid var(--color-tertiary) 1px;
    border-radius: 50%;
    color: var(--color-primary);
    cursor: pointer;
    padding: 1rem 2.5rem;
    text-align: center;
    transition: all 1s;
}

.see_button:hover {
    background-color: var(--color-primary);
    box-shadow: 0 0 10px var(--color-secondary);
    color: var(--color-cuarto)
}*/

.see_link {
    text-decoration: none;
}


@media (min-width:451px) and (max-width:768px) {

    .banner {
        height: 30%;
        width: 100%;
    }
    
    .banner_section {
        align-items: flex-start;
        display: flex;
        flex-flow: column nowrap;
        margin: 0;
        max-width: 1920px;
        width: 90%;
    }

}



@media (max-width: 450px) {

    .banner {
        height: 25%;
        width: 100%;
    }
    
    .banner_section {
        align-items: flex-start;
        display: flex;
        flex-flow: column nowrap;
        margin: 0;
        max-width: 1920px;
        width: 90%;
    }

}