:root {
    --color-primary: #F6F7D3;
    --color-secondary: #697565;
    --color-tertiary: #3C3D37;
    --color-cuarto: #1E201E;
}

.navbar {
    align-items: center;
    background-image: url(../images/fondos/fondo-de-logo.jpg);
    background-position: center;
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    z-index: 1;
}

.navegacion {
    align-items: center;
    display: flex;
    justify-content: space-around;
    margin: 0 1rem;
    padding: 1rem 0;
    width: 100%;
}

.logo_image {
    border-radius: 12.5%;
    content: url(../images/logo-solo/logo-nombre.png);
    display: flex;
    width: 13%;
}

.menu_buscador {
    display: flex;
    gap: 1rem;
}

.menu_list {
    align-items: center;
    background-color: var(--color-secondary);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    list-style: none;
}

.menu_list li {
    margin: 0 1rem;
}

.menu_list a {
    color: var(--color-primary);
    cursor: pointer;
    display: block;
    font-size: 1.3rem;
    padding: 0.8rem 1.3rem;
    text-decoration: none;
    transition: all 1s;
}

.menu_list a:hover {
    background-color: var(--color-primary); /* Añade sombra */
    border-radius: 50%;
    color: var(--color-cuarto);
    text-shadow: 0 10px 15px var(--color-tertiary); /* Cambia el fondo cuando pasas el cursor */
    transform: scale(1.15); /* Aumenta el tamaño del texto */
    transition: all 1.2s;
}

/* search */
.buscador_menu {
    align-items: center;
    border-radius: 1rem;
    display: flex;
    padding-right: 1rem;
    position: relative;
}

.bi_menu, .bi_modal {
    cursor: pointer;
}

.bi-search_menu, .bi-search_modal {
    cursor: pointer;
    font-size: 1.2rem;; /* Aumenta el tamaño del ícono */
    font-weight: 900; /* Añade peso al ícono */
}

.bi-search_menu svg, .bi-search_modal svg {
    height: 1.2rem; /* Ajusta la altura del SVG */
    stroke-width: 4; /* Aumenta el grosor del trazo */
    width: 1.2rem; /* Ajusta el ancho del SVG */
}

.bi-search_menu path {
    stroke: rgba(255, 255, 255, 0.3);
}

.bi-search_modal path {
    stroke: rgba(110, 110, 110, 0.3);
}

.modal {
    background-color: rgba(0, 0, 0, 0.4); /* Fondo oscuro semi-transparente */
    display: none; /* Oculto por defecto */
    height: 100%;
    left: 0;
    opacity: 0;
    overflow: auto;
    position: fixed;
    top: 0;
    transition: opacity 0.5s ease-in-out;
    width: 100%;
    z-index: 9999;
}

.modal.show {
    display: block; /* Visible */
    opacity: 1; /* Completamente visible */
}

.modal-content {
    background-color: var(--color-primary);
    border: 1px solid var(--color-tertiary);
    border-radius: 1rem;
    box-shadow: 0 1rem 1.5rem var(--color-cuarto); /* Añadir sombra */
    margin: 7% auto;
    max-width: 500px;
    transition: transform 0.5s ease-in-out;
    width: 80%;
}

.modal.show .modal-content {
    transform: translateY(0); /* Desplazamiento normal al mostrar */
}

.modal_search_container {
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
}

.input__buscador_modal {
    align-items: center;
    background-color: var(--color-primary);
    border: solid var(--color-tertiary) 0.15rem;
    border-radius: 1rem;
    font-family: "Capriola", serif;
    font-size: 1.15rem;
    height: 2.9rem;
    justify-content: center;
    outline: none;
    padding: 0.5rem 2.5rem 0.5rem 0.5rem;
    width: 100%;
}

.input_icon_modal {
    border-radius: 40%;
    color: var(--color-tertiary); /* Color del ícono */
    cursor: pointer;
    font-size: 1.5rem; /* Tamaño del ícono */
    padding: 0.3rem;
    position: absolute;
    right: 1rem;
    top: 50%;
    transform: translateY(-50%);
    transition: all 1.2s;
}

.input_icon_modal:hover {
    color: var(--color-primary);
    background-color: var(--color-secondary);
    transition: all 1.2s;
}

.input__buscador_modal.active {
    display: inline-block;
    opacity: 1;
    width: 22rem; /* Ajusta el tamaño del input al expandirse */
}

.login_button {
    background-color: var(--color-secondary);
    border: solid var(--color-tertiary) 1px;
    border-radius: 50%;
    color: var(--color-primary);
    cursor: pointer;
    padding: 1rem 2.5rem;
    text-align: center;
    transition: all 1s;
}

.login_button:hover {
    background-color: var(--color-primary);
    box-shadow: 0 0 10px var(--color-secondary);
    color: var(--color-cuarto)
}

.login_link {
    text-decoration: none;
}



@media (min-width:451px) and (max-width:768px) {

    .logo_image {
        width: 90%;
    }

    .navegacion {
        align-items: center;
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
        max-width: 1920px;
        padding: 1rem 0;
        width: 90%;
    }

    .buscador {
        align-items: center;
        display: flex;
        order: 3;
        padding: 0;
    }

    .input_icon {
        font-size: 2rem;
    }

    .bi, .bi-search {
        cursor: pointer;
    }

    .bi-search::before {
        color: #464646;
        font-size: 2rem;
        font-weight: 900;
        margin: 0;
        padding: 0;
    }
    
    .input__buscador {
        border: none;
        border-radius: 1rem;
        display: none;
        font-size: 1rem;
        outline: none;
        padding-left: 1rem;
    }

    .login_button{
        cursor: pointer;
        margin: 0;
        padding: 1rem 2rem;
        text-align: center;
        width: 10%;
    }
}

@media (max-width: 450px) {

    .logo_image {
        width: 75%;
    }

    .navegacion {
        align-items: center;
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
        max-width: 1920px;
        padding: 1rem 0;
        width: 90%;
    }

    .buscador {
        align-items: center;
        border-radius: 1rem;
        display: flex;
        order: 3;
        padding: 0;
    }

    .input_icon {
        font-size: 2rem;
    }

    .bi, .bi-search {
        cursor: pointer;
    }

    .bi-search::before {
        font-size: 2rem;
        font-weight: 900;
        margin: 0;
        padding: 0;
    }
    
    .input__buscador {
        border: none;
        border-radius: 1rem;
        display: none;
        font-size: 1rem;
        height: 2.5rem;
        outline: none;
        padding-left: 1rem;
        width: 24rem;
    }

    .login_button{
        cursor: pointer;
        margin: 0;
        padding: 1rem 3rem;
        text-align: center;
        width: 10%;
    }
    
}