/* Importar variables desde style.css */
@import url('style.css');

.all_products_items {
    display: grid;
    gap: 1.1rem;
    grid-template-columns: repeat(6, 1fr);
    justify-content: center;
    justify-items: center;
    margin: 0.5rem auto;
    overflow-y: hidden;
    padding: 1.5rem;
}

.carousel-arrow {
    color: var(--color-tertiary);
    cursor: pointer;
    display: none;
    font-size: 1.3rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -webkit-user-select: none;
    user-select: none;
    z-index: 10;
}

.carousel-arrow.prev {
    left: 0.5rem;
}

.carousel-arrow.next {
    right: 0.5rem;
}

.carousel-indicator-top-left {
    color: var(--color-tertiary);
    display: none;
    font-size: 0.9rem;
    position: absolute;
    z-index: 2;
}

.code_code {
    font-weight: 700;
}

.details_image {
    align-items: center;
    background-color: var(--color-primary);
    border-radius: 2.5rem;
    box-shadow: 0px 1px 5px 0px rgb(28 29 4 / 50%);
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 1rem 0;
    padding: 1rem;
    width: 55%;
}

.img {
    border-radius: 2rem;
    display: flex;
    object-fit: cover;
    padding: 0.5rem 0;
    position: inherit;
    width: 80%;
}

.img_aa {
    display: flex;
    object-fit: cover;
    padding: 0.5rem 0;
    position: inherit;
    width: 65%;
}

.item_code {
    font-size: 1rem;
    font-weight: 500;
    margin-top: auto;
}

.item_img {
    align-items: center;
    display: flex;
    justify-content: center;
}

.item_title {
    font-size: 1.1rem;
    font-weight: 700;
    padding: 0 0.5rem;
}

.item_title a {
    color: var(--color-fifth);
    text-decoration: none;
}

.item_title a:hover {
    text-decoration: underline;
}

.main-image {
    align-items: center;
    display: flex;
    flex-grow: 1;
    justify-content: center;
}

.main-image img {
    border-radius: 1rem;
    max-width: 450px;
    max-height: 500px;
    object-fit: contain;
    width: 90%;
}

.product_item {
    align-items: center;
    background-color: var(--color-secondary);
    border: 1px solid var(--color-tertiary);
    border-radius: 2.5rem;
    box-shadow:
        0 12px 25px rgba(30, 32, 30, 0.35),
        /* sombra principal más notoria */
        0 6px 10px rgba(30, 32, 30, 0.15);
    /* sombra secundaria */
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
    margin-bottom: 0.5rem;
    padding-bottom: 0.5rem;
    position: relative;
    transition: 1s all;
}

.product_item:hover {
    transform: scale(1.05);
}

.thumbnails {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    max-height: 62.5rem;
    overflow-y: auto;
    padding: 0.5rem;
}

.thumbnails img {
    border: 0.125rem solid transparent;
    border-radius: 0.5rem;
    box-shadow: 0px 1px 5px 0px rgb(28 29 4 / 50%);
    cursor: pointer;
    height: 5rem;
    object-fit: cover;
    transition: border-color 0.2s ease-in-out;
    width: 5rem;
}

.thumbnails img:hover,
.thumbnails img.selected {
    border-color: var(--color-tertiary);
}


@media (max-width: 479px) {
    .all_products_items {
        gap: 0.8rem;
        grid-template-columns: repeat(2, 1fr) !important;
        margin: 0.5rem auto;
        padding: 0 1rem 1.9rem 1rem;
    }

    .carousel-indicator-top-left, .carousel-arrow {
        display: block;
    }

    .details_image {
        align-items: center;
        display: flex;
        flex-direction: column;
        margin-bottom: 1rem;
        margin-top: 0;
        width: 65%
    }

    .img {
        width: 60%;
    }

    .img_aa {
        width: 50%;
    }

    .item_code {
        font-size: 0.8rem;
    }

    .item_title {
        font-size: 1rem;
    }

    .main-image img {
        max-width: 100%;
        max-height: 21.875rem;
    }

    .product_item {
        gap: 0.5rem;
        margin-bottom: 0;
    }

    .thumbnails {
        display: none !important;
    }
}


@media (min-width:480px) and (max-width:767px) {
    .all_products_items {
        gap: 0.9rem;
        grid-template-columns: repeat(3, 1fr);
        padding: 0.5rem 0.2rem;
    }

    .details_image {
        align-items: center;
        flex-direction: column;
    }

    .img {
        width: 70%;
    }

    .img_aa {
        width: 50%;
    }

    .main-image img {
        max-width: 100%;
        max-height: 21.875rem;
    }

    .product_item {
        gap: 0.8rem;
        margin-bottom: 0;
    }

    .thumbnails {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        max-height: none;
    }
}


@media (min-width:768px) and (max-width:1023px) {
    .all_products_items {
        gap: 1rem;
        grid-template-columns: repeat(3, 1fr);
        padding: 0.7rem 0.4rem;
    }

    .img {
        width: 75%;
    }

    .img_aa {
        width: 55%;
    }

    .product_item {
        gap: 0.9rem;
        margin-bottom: 0;
    }
}

@media (min-width: 1024px) and (max-width: 1279px) {
    .all_products_items {
        gap: 1.2rem;
        grid-template-columns: repeat(4, 1fr);
        padding: 0.7rem 0.4rem;
    }
}