/* Importar variables desde style.css */
@import url('style.css');

.productos {
    align-items: center;
    display: flex;
    flex-flow: row wrap;
    gap: 0.6rem;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1920px;
    width: 95%;
}

.title {
    align-items: baseline;
    display: flex;
    flex-basis: 100%;
    justify-content: space-between;
    padding: 0 1.5rem
}

.title h2 a {
    color: inherit; /* Hereda el color del h2 */
    display: inline-block;
    font: inherit;  /* Hereda el tamaño y fuente */
    text-decoration: none; /* Sin subrayado */
}

.title h2 a:hover {
    text-decoration: underline;
}

.tv__title {
    font-size: 2rem;
    font-weight: 700;
    margin-top: 0.6rem;
    text-shadow: 1px 1px 2px var(--color-fourth);
}



/* Media queries para dispositivos medianos y pequeños */
@media (max-width: 479px) {
    .productos {
        gap: 0;
    }
    .title {
        padding: 1rem;
    }
    .tv__title {
        font-size: 1.2rem;
        margin-top: 0;
        text-shadow: 1px 1px 2px var(--color-tertiary);
    }
    #cs__title {
        margin-top: -2.5rem;
        z-index: 1;
    }
}


@media (min-width:480px) and (max-width:767px) {
    .cs {
        gap: 0.3rem;
    }
    .title {
        gap: 0.4rem;
    }
    .tv__title {
        font-size: 1.3rem;
        margin-top: 0;
        text-shadow: 1px 1px 2px var(--color-tertiary);
    }
    #cs__title {
        margin-top: -2.5rem;
        z-index: 1;
    }
}


@media (min-width:768px) and (max-width:1023px) {
    .title {
        gap: 0.5rem;
    }
    .tv__title {
        font-size: 1.7rem;
        margin-top: 0;
        text-shadow: 1px 1px 2px var(--color-tertiary);
    }
    #aa__title {
        margin: 3rem 0 0.5rem 0;
    }
}