/* Importar variables desde style.css */
@import url('style.css');

.productos {
    align-items: center;
    display: flex;
    flex-flow: row wrap;
    gap: 0.6rem;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1920px;
    width: 90%;
}

.title {
    align-items: baseline;
    display: flex;
    flex-basis: 100%;
    justify-content: space-between;
}

.tv__title {
    font-size: 2rem;
    font-weight: 700;
    margin-top: 0.6rem;
    text-shadow: 1px 1px 2px var(--color-fourth);
}

.tv__link {
    color: var(--color-tertiary);
    font-size: 1rem;
    font-weight: 700;
    text-decoration: none;
    transition: 1s all;
}

.tv__link:hover, .bi:hover {
    color: var(--color-fourth);
    text-decoration: underline;
    transform: scale(1.15);
}

.bi {
    background-color: transparent;
    color: var(--color-tertiary);
    transition: 1s all;
}

.all_products_items {
    display: grid;
    gap: 1.1rem;
    grid-template-columns: repeat(6, 1fr);
    justify-content: center;
    justify-items: center;
    margin: auto;
    overflow-y: hidden;
    padding: 1.5rem 0.5rem;
}

.all_products_items {
    grid-template-rows: repeat(2, auto);
}

@media (min-width: 451px) and (max-width: 768px), (max-width: 450px) {
    .productos {
        gap: 1.5rem 0;
    }

    .bi {
        font-size: 1rem;
    }

    .all_products_items {
        grid-template-columns: repeat(6, 1fr);
    }

    .last {
        display: none;
    }
}

@media (max-width: 450px) {
    .all_products_items {
        grid-template-columns: repeat(4, 1fr);
    }
}