@import url('https://fonts.googleapis.com/css2?family=Capriola&family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --color-primary: #F6F7D3;
    --color-secondary: #697565;
    --color-tertiary: #3C3D37;
    --color-fourth: #1E201E;
    font-family: "Capriola", serif;
    line-height: 1rem;
    scroll-behavior: smooth;
}  

body {
    background-color: var(--color-primary);
    color: var(--color-fourth);
}

#scroll-top {
    display: none;
    opacity: 0;
    position: fixed;
    right: 20px;
    bottom: 20px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    background-color: rgba(0,0,0,.4);
    color: #fff;
    font-size: 18px;
    cursor: pointer;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    border-radius: 2px;
    text-align: center;
    z-index: 100;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box
}

#scroll-top>span {
    line-height: inherit;
    vertical-align: top
}

#scroll-top:hover {
    background-color: rgba(0,0,0,.8)
}

#scroll-top.scroll-top-left {
    left: 20px;
    right: auto
}

.fa-angle-up:before {
    content: "\f106"
}

@media (max-width: 450px) {

    html {
        font-size: 0.7rem;
    }

}