@import url('https://fonts.googleapis.com/css2?family=Capriola&family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --color-primary: #F6F7D3;
    --color-secondary: #697565;
    --color-tertiary: #3C3D37;
    --color-cuarto: #1E201E;
    font-family: "Capriola", serif;
    line-height: 1rem;
    scroll-behavior: smooth;
}

.capriola-regular {
    font-family: "Capriola", serif;
    font-style: normal;
    font-weight: 400;
}  

body {
    background-color: var(--color-primary);
}

@media (max-width: 450px) {

    html {
        font-size: 0.7rem;
    }

}