/* Importar variables desde style.css */
@import url('style.css');

.woweare {
    align-items: center;
    background-color: var(--color-secondary);
    border-bottom-left-radius: 3rem;
    border-bottom-right-radius: 3rem;
    border-top: 0.3rem solid var(--color-fourth);
    box-shadow: 0.3rem 0.3rem 0.8rem var(--color-fourth);
    display: flex;
    flex-flow: row wrap;
    gap: 1rem;
    justify-content: center;
    margin: 4rem auto;
    max-width: 1920px;
    padding: 1rem 0;
    text-align: center;
    text-shadow: 1px 1px 2px var(--color-fourth);
    width: 90%;
}

.woweare_text {
    font-size: 1.5rem;
    line-height: 1.3;
    width: 94%;
}

.woweare_title {
    font-size: 2.5rem;
    font-weight: bold;
    margin: 0.5rem 0 0.75rem;
    text-decoration: underline;
}

strong {
    font-size: 1.55rem;
    font-weight: bold;
}



/* Media queries para dispositivos medianos y pequeños */
@media (max-width: 479px) {
    .woweare {
        gap: 0.5rem;
        margin: 1rem auto;
    }
    .woweare_title {
        font-size: 1.2rem;
    }
    .woweare_text {
        font-size: 1rem;
    }
    strong {
        font-size: 1.3rem;
    }
}


@media (min-width:480px) and (max-width:767px) {
    .woweare {
        gap: 0.8rem;
        margin: 1.1rem auto;
    }
    .woweare_text {
        font-size: 1.1rem;
    }
    .woweare_title {
        font-size: 1.3rem;
    }
}


@media (min-width:768px) and (max-width:1023px) {
    .woweare {
        margin: 1.3rem auto;
    }
    .woweare_text {
        font-size: 1.3rem;
    }
    .woweare_title {
        font-size: 1.7rem;
    }
}


@media (min-width:1024px) and (max-width:1279px) {
    .woweare {
        margin: 1.5rem auto;
    }
    .woweare_title {
        font-size: 2rem;
    }
}


@media (min-width:1280px) {
    .woweare {
        margin: 2.5rem auto;
    }
    .woweare_title {
        font-size: 2.3rem;
    }
}