/* 游릭 Modo usuario logueado: Cambio de fondo y contrastes */
body.logged-in {
    --color-primary: #2E2F29; /* Fondo m치s oscuro */
    --color-secondary: #44463E;
    --color-tertiary: #A8B694;
    --color-fourth: #D6D8B0;
    --color-fifth: #E3E6B9;
    background-color: var(--color-primary);
    color: var(--color-fourth);
}
.add_product {
    padding-bottom: 2rem;
    padding-top: 4rem;
}
.add_product__form {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 1rem;
    width: 100%;
}
.add_product__title {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-shadow: 1px 1px 2px var(--color-fourth);
    row-gap: 1rem;
}
.title {
    font-size: 2rem;
    font-weight: 700;
    margin: 2rem 0;
}
.add_product__form__area {
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 3rem;
    justify-content: space-around;
    width: 80%;
}
.add_file__pc, .add_file__mobile {
    cursor: pointer;
    text-align: center;
    width: 80%;
}
.form__area__add_file {
    align-items: center;
    background-color: var(--color-secondary);
    border: dashed var(--color-tertiary) 2px;
    color: var(--color-tertiary);
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    height: 10rem;
    justify-content: center;
    padding: 2rem;
    width: 50%;
}
.bi-card-image, .bi-plus-lg {
    background-color: var(--color-secondary);
    color: var(--color-tertiary);
    font-size: 3rem;
}
.bi-plus-lg, .add_file__mobile {
    display: none;
}
.add_product__form__area .label {
    cursor: pointer;
    position: relative;
    text-align: center;
}
.add_product__form__area #select {
    cursor: pointer;
    height: 100%;
    left: 0;
    opacity: 0%;
    position: absolute;
    top: 0;
    width: 100%;
}
.form__area__button {
    background-color: var(--color-tertiary);
    border: solid var(--color-fourth) 1px;
    border-radius: 1rem;
    color: var(--color-primary);
    cursor: pointer;
    font-family: "Capriola", serif;
    font-weight: 700;
    padding: 1rem;
    text-align: center;
    transition: all 1s;
    width: 30%;
}
.form__area__button:hover {
    background-color: var(--color-primary);
    box-shadow: 0 0 10px var(--color-tertiary);
    color: var(--color-fourth);
}
.button__search_img {
    cursor: pointer;
}
.add_product__input {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 2rem 0;
    row-gap: 1.2rem;
    width: 60%;
}
.input__group {
    background-color: var(--color-secondary);
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    width: 100%;
}
.input__group .label {
    font-size: 1.02rem;
    padding: 0.5rem;
    text-align: left;
}
.input__group .input {
    background-color: var(--color-secondary) !important;
    border: none;
    border-bottom: solid var(--color-tertiary) 2px;
    font-family: "Capriola", serif;
    font-size: 1rem;
    height: 1.1rem;
    margin-top: 0.5rem;
    padding: 1% 0 1% 1%;
}
#categoria {
    font-size: 1.2rem;
    margin-top: 1rem;
    width: 97%;
}
.input__group .input:focus, .price:focus {
    outline: none;
}
.input-container .mensaje-error {
    display: none; /* Esconde el mensaje de error inicialmente */
}
.input-container-invalid .mensaje-error {
    align-items: center;
    display: flex;
    margin: 0.8rem;
    justify-content: center;
}
.error {
    color: #df2525;
    font-size: 1.1rem;
    text-shadow: 1px 1px 2px var(--color-tertiary);
}
.input__add_product_button {
    background-color: var(--color-tertiary);
    border: none;
    border-radius: 1.2rem;
    color: var(--color-primary);
    cursor: pointer;
    display: flex;
    font-family: "Capriola", serif;
    font-size: 1.1rem;
    padding: 1rem 2rem;
    transition: all 1s;
    width: 30%;
}
.input__add_product_button:hover {
    background-color: var(--color-primary);
    box-shadow: 0 0 10px var(--color-tertiary);
    color: var(--color-fourth);
    transform: scale(1.05);
}


/* Para m칩viles muy peque침os */
@media (max-width: 479px) {
    .add_product {
        padding-top: 3rem;
    }
    .title {
        font-size: 1.5rem;
        margin: 1rem 0;
    }
    .add_product__form__area {
        flex-direction: column;
        width: 90%;
        gap: 1rem;
    }
    .form__area__add_file {
        width: 90%;
    }
    .form__area__button {
        width: 60%;
    }
    .add_product__input {
        width: 90%;
    }
    .input__add_product_button {
        font-size: 1rem;
        padding: 1rem;
        width: 60%;
    }
}


/* Para tel칠fonos medianos */
@media (min-width: 480px) and (max-width: 767px) {
    .add_product {
        padding-top: 5rem;
    }
    .title {
        font-size: 1.5rem;
        margin: 1rem 0;
    }
    .add_product__form__area {
        flex-direction: column;
        gap: 1rem;
        width: 90%;
    }
    .form__area__add_file {
        width: 80%;
    }
    .form__area__button {
        width: 40%;
    }
    .add_product__input {
        width: 80%;
    }
    .input__add_product_button {
        width: 40%;
    }
}


/* Para tablets en vertical */
@media (min-width: 768px) and (max-width: 1023px) {
    .add_product__form__area {
        flex-direction: row;
        width: 90%;
        gap: 2rem;
    }
    .form__area__add_file {
        width: 45%;
    }
    .form__area__button {
        width: 40%;
    }
    .add_product__input {
        width: 80%;
    }
    .input__add_product_button {
        width: 40%;
    }
}


/* Para tablets en horizontal y laptops peque침as */
@media (min-width: 1024px) and (max-width: 1279px) {
    .add_product__input {
        width: 70%;
    }
}