@import url('/assets/css/style.css');
header-component .login_button {
    display: none;
}
.all_products {
    padding-top: 5rem;
}
.all_products_header {
	align-items: center;
	display: flex;
    justify-content: space-between;
	margin: 0 3%;
	width: 96%;
}
.all_products_title {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 26px;
}
.all_products_button {
    background-color: var(--color-tertiary);
    border: none;
    border-radius: 0.5rem;
    color: var(--color-primary);
    cursor: pointer;
    font-weight: bold;
    padding: 1rem 2rem;
    text-decoration: none;
    transition: all 1s;
}
.all_products_button:hover {
    background-color: var(--color-fourth);
    box-shadow: 2px 2px 18px var(--color-tertiary);
}
.item_footer {
    display: flex;
    justify-content: space-around;
}
.mostrar-elemento {
    display: block !important;
}
.item_link {
    display: none;
}
.footer_icons {
    background-color: rgba(0, 0, 0, 0.1); /* Fondo sutil para mejorar visibilidad */
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    justify-content: space-between;
    padding: 0.3rem;
    position: absolute;
    right: 0.5rem;
    top: 0.5rem;
}
.footer_icons i {
    color: var(--color-tertiary);
    cursor: pointer;
    font-size: 1.2rem;
    transition: color 0.3s ease-in-out;
}
.footer_icons i:hover {
    color: var(--color-fourth);
}
.derechos {
    background-color: var(--color-secondary);
    border-top: 0.15rem solid var(--color-fourth);
    bottom: 0;
    font-family: "Montserrat Alternates", sans-serif;
    font-size: 0.9em;
    font-weight: 500;
    padding: 0.4rem;
    position: fixed;
    text-align: center;
    width: 100%;
}
p {
    font-family: "Montserrat Alternates", sans-serif;
}



/* 🔹 Pantallas Pequeñas: Teléfonos (hasta 479px) */
@media (max-width: 479px) {
    .all_products {
        padding-top: 4rem;
    }
    .all_products_header {
        align-items: center;
        text-align: center;
    }
    .all_products_title {
        font-size: 1.2rem;
        margin-bottom: 0.5rem;
    }
    .all_products_button {
        font-size: 0.8rem;
        padding: 0.8rem;
    }
    .derechos {
        font-size: 0.7rem;
        padding: 0.3rem;
    }
}


/* 🔹 Pantallas Medianas: Teléfonos Grandes (480px - 767px) */
@media (min-width: 480px) and (max-width: 767px) {
    .all_products_title {
        font-size: 1.2rem;
    }
}


/* 🔹 Laptops Medianas (1024px - 1279px) */
@media (min-width: 1024px) and (max-width: 1279px) {
    .all_products {
        padding-top: 6rem;
    }
}