header-component .login_button {
    display: none;
}

.all_products {
    padding-top: 5rem;
}

.all_products_header {
	align-items: center;
	display: flex;
    justify-content: space-between;
	margin: 0 3%;
	width: 96%;
}

.all_products_title {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 26px;
}

.all_products_button {
    background-color: var(--color-tertiary);
    border: none;
    border-radius: 0.5rem;
    color: var(--color-primary);
    cursor: pointer;
    font-weight: bold;
    padding: 1rem 2rem;
    text-decoration: none;
    transition: all 1s;
}

.all_products_button:hover {
    background-color: var(--color-fourth);
    box-shadow: 2px 2px 18px var(--color-tertiary);
}

.item_footer {
    display: flex;
    justify-content: space-around;
}

.mostrar-elemento {
    display: block !important;
}

.item_link {
    display: none;
}

.footer_icons {
    display: flex;
    justify-content: space-between;
}

.bi {
    background-color: inherit;
    color: var(--color-tertiary);
    padding-left: 0.5rem;
    position: inherit;
    font-size: 1.1rem;
}

.bi:hover {
    color: var(--color-fifth);
    cursor: pointer;
}
            
.derechos {
    background-color: var(--color-secondary);
    border-top: 0.15rem solid var(--color-fourth);
    bottom: 0;
    font-family: "Montserrat Alternates", sans-serif;
    font-size: 0.9em;
    font-weight: 500;
    padding: 0.4rem;
    position: fixed;
    text-align: center;
    width: 100%;
}

p {
    font-family: "Montserrat Alternates", sans-serif;
}


/* Media queries para dispositivos medianos y pequeños */
@media (max-width: 768px) {
    .all_products_header {
        flex-direction: column;
        align-items: flex-start;
        gap: 1rem;
    }

    .all_products_title {
        font-size: 1.3rem; /* Ajuste del tamaño del título para dispositivos medianos */
    }

    .all_products_button {
        padding: 0.8rem 1.5rem;
        font-size: 1rem; /* Ajuste del tamaño del botón para dispositivos medianos */
    }

    .item_footer {
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }
}

@media (max-width: 450px) {
    .all_products {
        padding-top: 3rem;
    }

    .all_products_title {
        font-size: 1.2rem; /* Ajuste del tamaño del título para dispositivos pequeños */
    }

    .all_products_button {
        padding: 0.6rem 1rem;
        font-size: 0.9rem; /* Ajuste del tamaño del botón para dispositivos pequeños */
        width: 100%; /* Ancho completo del botón en dispositivos pequeños */
    }

    .derechos {
        font-size: 0.8em; /* Ajuste del tamaño del texto en la sección de derechos */
    }

    .footer_icons {
        flex-direction: column;
        align-items: center;
        gap: 0.5rem;
    }
}