@import url('../../css/style.css');

.banner {
    align-items: center;
    background-image: url(./images/control-remoto_en-construccion.png);
    background-position: left;
    background-repeat: no-repeat;
    background-size: 39%;
    color: var(--color-primary);
    display: grid;
    font-weight: 700;
    grid-template-columns: 40% 60%;
    justify-content: center;
    padding-top: 20.5rem;
}

.banner_section {
    align-items: center;
    display: flex;
    flex-direction: column;
    grid-column: 2;
    height: 100%;
    justify-content: center;
    text-shadow: 2px 2px 2px var(--color-tertiary);
}

.titles {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-around;
    margin-right: 2rem;
    text-align: left;
    translate: 0 -10rem;
}

.prom, .description {
    color: var(--color-fifth);
    font-size: 3.35rem;
    font-weight: 1000;
    margin-bottom: 3rem;
    text-shadow: 0.2rem 0.3rem 0.4rem var(--color-fourth);
    -webkit-text-stroke: 1px var(--color-tertiary);
}

.see_button {
    align-self: flex-end;
    background-color: var(--color-tertiary);
    border: solid var(--color-fourth) 1px;
    border-radius: 50%;
    color: var(--color-primary);
    cursor: pointer;
    margin-right: 3rem;
    padding: 1rem 2.5rem;
    text-align: center;
    transition: all 1s;
    translate: 0 -10rem;
}

.see_button:hover {
    background-color: var(--color-primary);
    box-shadow: 0 0 10px var(--color-tertiary);
    color: var(--color-fifth);
}

.see_link {
    text-decoration: none;
}

/* Media Queries */
@media (min-width: 451px) and (max-width: 768px), (max-width: 450px) {
    .banner {
        height: 30%;
        width: 100%;
    }

    .banner_section {
        align-items: flex-start;
        display: flex;
        flex-flow: column nowrap;
        margin: 0;
        max-width: 1920px;
        width: 90%;
    }
}

@media (max-width: 450px) {
    .banner {
        height: 25%;
    }
}
