@import url('../../css/style.css');

.banner {
    align-items: center;
    background-image: url(./images/control-remoto_en-construccion.png);
    background-position: left;
    background-repeat: no-repeat;
    background-size: 39%;
    color: var(--color-primary);
    display: grid;
    font-weight: 700;
    grid-template-columns: 40% 60%;
    justify-content: center;
    padding-top: 20.5rem;
}

.banner_section {
    align-items: center;
    display: flex;
    flex-direction: column;
    grid-column: 2;
    height: 100%;
    justify-content: center;
    text-shadow: 2px 2px 2px var(--color-tertiary);
}

.titles {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-around;
    margin-right: 2rem;
    text-align: left;
    translate: 0 -10rem;
}

.prom, .description {
    color: var(--color-fifth);
    font-size: 3.35rem;
    font-weight: 1000;
    margin-bottom: 3rem;
    text-shadow: 0.2rem 0.3rem 0.4rem var(--color-fourth);
    -webkit-text-stroke: 1px var(--color-tertiary);
}

.see_button {
    align-self: flex-end;
    background-color: var(--color-tertiary);
    border: solid var(--color-fourth) 1px;
    border-radius: 50%;
    color: var(--color-primary);
    cursor: pointer;
    margin-right: 3rem;
    padding: 1rem 2.5rem;
    text-align: center;
    transition: all 1s;
    translate: 0 -10rem;
}

.see_button:hover {
    background-color: var(--color-primary);
    box-shadow: 0 0 10px var(--color-tertiary);
    color: var(--color-fifth);
}

.see_link {
    text-decoration: none;
}



/* Media queries para dispositivos medianos y pequeños */
@media (max-width: 768px) {
    .banner {
        grid-template-columns: 1fr; /* Ajustar las columnas de la grid para dispositivos medianos */
        padding-top: 10rem; /* Ajuste del padding-top para dispositivos medianos */
        background-size: cover; /* Ajuste del tamaño de la imagen de fondo para dispositivos medianos */
    }

    .titles {
        margin-right: 1rem;
        text-align: center; /* Centrar el texto para dispositivos medianos */
        translate: 0; /* Restablecer translate para dispositivos medianos */
    }

    .prom, .description {
        font-size: 2.5rem; /* Ajuste del tamaño del texto para dispositivos medianos */
    }

    .see_button {
        align-self: center;
        margin: 1rem 0; /* Ajuste del margen para dispositivos medianos */
    }
}

@media (max-width: 450px) {
    .banner {
        padding-top: 5rem; /* Ajuste del padding-top para dispositivos pequeños */
        background-size: cover; /* Ajuste del tamaño de la imagen de fondo para dispositivos pequeños */
    }

    .titles {
        margin: 0;
        text-align: center; /* Centrar el texto para dispositivos pequeños */
        translate: 0; /* Restablecer translate para dispositivos pequeños */
    }

    .prom, .description {
        font-size: 2rem; /* Ajuste del tamaño del texto para dispositivos pequeños */
        margin-bottom: 1rem; /* Ajuste del margen para dispositivos pequeños */
    }

    .see_button {
        align-self: center;
        margin: 0.5rem 0; /* Ajuste del margen para dispositivos pequeños */
        padding: 0.5rem 1.5rem; /* Ajuste del padding para dispositivos pequeños */
    }
}


@media (max-width: 479px) {}


@media (min-width:480px) and (max-width:767px) {}


@media (min-width:768px) and (max-width:1023px) {}


@media (min-width:1024px) and (max-width:1279px) {}


@media (min-width:1280px) {}