@import url('../../css/style.css');
body, html {
    height: 100%;
    margin: 0;
}
footer-component {
    margin-top: auto;
}
.additional-message {
    font-size: 1.2rem;
    color: var(--color-fifth);
    margin: 0.5rem 0;
    text-align: center;
}
.autocomplete-item {
    cursor: pointer;
    padding: 0.3rem;
}
.autocomplete-item:hover {
    background-color: var(--color-tertiary);
    color: var(--color-primary);
    transition: 0.8s all;
}
.autocomplete-item.autocomplete-active {
    background-color: var(--color-tertiary);
    color: var(--color-primary);
    transition: 0.8s all;
}
.autocomplete-results {
    background-color: var(--color-secondary);
    border: 1px solid var(--color-tertiary);
    box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.5); /* Añade una sombra para destacar la lista */
    display: none; /* Inicialmente oculto */
    left: 50%;
    max-height: 15rem; /* Define una altura máxima para activar el scroll */
    overflow-y: auto; /* Habilita el scroll vertical */
    position: absolute;
    top: 100%; /* Posiciona la lista justo debajo del input */
    z-index: 10;
}
.bi {
    background-color: var(--color-secondary);
    color: var(--color-fifth);
    cursor: pointer;
}
/* search */
.buscador {
    align-items: center;
    background-color: var(--color-secondary);
    border: solid 1px var(--color-tertiary);
    border-radius: 1rem;
    display: flex;
    padding-right: 1rem;
    position: relative;
}
/* Estilo base del input */
.input__buscador {
    background-color: var(--color-secondary) !important;
    border: none;
    border-radius: 1rem;
    color: var(--color-fifth) !important;
    font-family: "Capriola", serif;
    font-size: 1.1rem;
    height: 2.5rem;
    outline: none;
    padding-left: 1rem;
    width: 24rem;
}
/* Cambiar el color de fondo del input cuando tiene foco */
.input__buscador:focus, .input__buscador:valid, .input__buscador:not(:placeholder-shown) {
    background-color: var(--color-secondary) !important;
    color: var(--color-fifth) !important;
    outline: none !important;
}
.no-results-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem; /* Añade un poco de espacio alrededor del contenedor */
    width: 100%; /* Asegura que ocupe todo el ancho */
}
.no-results-message {
    background-color: var(--color-secondary);
    border-radius: 0.5rem;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.3);
    color: crimson;
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0.5rem 0;
    padding: 1rem;
    text-align: center;
}
.page-container {
    display: flex;
    flex: 1;
    flex-direction: column;
    min-height: 100vh;
}
.search-section {
    margin: 0 auto;
    padding-top: 5.5rem;
    width: 90%;
}
.search-section_content {
    align-items: center;
    display: flex;
    gap: 5rem;
    justify-content: center;
}
.tv__title {
    font-size: 2.5rem;
    font-weight: 700;
    text-shadow: 1px 1px 2px var(--color-fourth);
}



@media (max-width: 479px) {
    .autocomplete-results {
        left: 5%;
        width: 90%;
    }
    .bi {
        font-size: 1.2rem;
    }
    .buscador {
        flex-direction: row;
        width: 95%;
    }
    .input__buscador {
        font-size: 1rem;
        height: 2rem;
        width: 90%;
    }
    .no-results-container {
        gap: 2rem;
        margin-top: 3rem;
        width: 90%
    }
    .search-section {
        padding-top: 4rem;
        width: 95%;
    }
    .search-section_content {
        flex-direction: column;
        gap: 1.5rem;
        margin-bottom: 1rem;
        margin-top: 0.5rem;
    }
    .tv__title {
        font-size: 1.5rem;
    }
}

@media (min-width: 480px) and (max-width: 767px) {
    .autocomplete-results {
        left: 10%;
        width: 80%;
    }
    .bi {
        font-size: 1.4rem;
    }
    .input__buscador {
        font-size: 1.2rem;
    }
    .no-results-container {
        gap: 2rem;
        margin-top: 3rem;
    }
    .search-section {
        width: 95%;
    }
    .search-section_content {
        flex-direction: column;
        gap: 1.5rem;
        margin-bottom: 1rem;
    }
    .tv__title {
        font-size: 1.8rem;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .additional-message {
        font-size: 1.3rem;
    }
    .autocomplete-results {
        left: 5%;
        width: 90%;
    }
    .no-results-container {
        gap: 2rem;
        margin-top: 3rem;
    }
    .no-results-message {
        font-size: 1.6rem;
    }
    .search-section_content {
        flex-direction: row;
        margin-bottom: 1.5rem;
    }
}


@media (min-width: 1024px) and (max-width: 1279px) {
    .additional-message {
        font-size: 1.3rem;
    }
    .autocomplete-results {
        left: 5%;
        width: 90%;
    }
    .no-results-container {
        gap: 2rem;
        margin-top: 3rem;
    }
    .no-results-message {
        font-size: 1.6rem;
    }
    .search-section_content {
        margin: 1.5rem 0;
    }
}


@media (min-width: 1280px) {
    .autocomplete-results {
        left: 5%;
        width: 90%;
    }
}
